<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="cf4a4c0b-7e15-46b8-807e-a5f767f67269"
    Publisher="CN=portflat"
    Version="1.0.4.0" />

  <mp:PhoneIdentity PhoneProductId="cf4a4c0b-7e15-46b8-807e-a5f767f67269" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>TFG.UWP</DisplayName>
    <PublisherDisplayName>portflat</PublisherDisplayName>
    <Logo>Assets\IconsUWP\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="TFG.UWP.App">
      <uap:VisualElements
        DisplayName="TFG.UWP"
        Square150x150Logo="Assets\IconsUWP\Square150x150Logo.png"
        Square44x44Logo="Assets\IconsUWP\Square44x44Logo.png"
        Description="Aplicación local del Sistema de Monitorización de Sensores."
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\IconsUWP\Wide310x150Logo.png" Square71x71Logo="Assets\IconsUWP\SmallTile.png" Square310x310Logo="Assets\IconsUWP\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\IconsUWP\SplashScreen.png"  BackgroundColor="#003C92"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>